<% title "Admin/Ranks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Image Url</th>
  </tr>
  <% for rank in @ranks %>
    <tr>
      <td><%= rank.name %></td>
      <td><%= rank.image_url %></td>
      <td><%= link_to "Show", [:admin, rank] %></td>
      <td><%= link_to "Edit", edit_admin_rank_path(rank) %></td>
      <td><%= link_to "Destroy", [:admin, rank], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Rank", new_admin_rank_path %></p>
