<% title "Admin/Badges" %>

<table>
  <tr>
    <th>Name</th>
    <th>Image Url</th>
  </tr>
  <% for badge in @badges %>
    <tr>
      <td><%= badge.name %></td>
      <td><%= badge.image_url %></td>
      <td><%= link_to "Show", [:admin, badge] %></td>
      <td><%= link_to "Edit", edit_admin_badge_path(badge) %></td>
      <td><%= link_to "Destroy", [:admin, badge], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Badge", new_admin_badge_path %></p>
