<% title "Admin/Badge" %>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>
<p>
  <strong>Image Url:</strong>
  <%= @badge.image_url %>
</p>

<p>
  <%= link_to "Edit", edit_admin_badge_path(@badge) %> |
  <%= link_to "Destroy", [:admin, @badge], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_badges_path %>
</p>
