<a class="btn" href="/leaves/new">New Leaf</a>
<table>
  <% @leaves.each do |leaf| %>
    <tr>
      <td><%= link_to leaf.created_at.to_formatted_s(:short), leaf_path(leaf) %><br /><%= image_tag leaf.photo.url(:thumb) %></td>
      <td><%= leaf.content %></td>
      <td><%= link_to "Destroy", leaf, :confirm => 'Are you sure?', :method => :delete %></td>

    </tr>
  <% end %>
</table>

Points: <%= current_user.points %>
