<%= form_for @leaf, :html => { :multipart => :true } do |form| %>
<%= form.error_messages %>
<ol class="formList">
  <li>
    <%= form.label :content, "Content" %>
    <%= form.text_area :content %>
  </li>
  <li>
    <%= form.submit "Submit" %>
  </li>
</ol>
<%= image_tag @leaf.photo.url if @leaf.has_photo %><br />
<%= form.file_field :photo %>

<% end %>
